* {
    box-sizing: border-box;
}

body {
    background-image: linear-gradient(90deg, #e2b6cf, #f6efee);
    font-family: 'Courier New', Courier, monospace;
    min-height: 100vh;
}

header {
    display: flex;
    justify-content: flex-start;
    align-items: center;
    flex-flow: row nowrap;
    width: 100%;
    height: 5%;
}

.title_header {
    font-size: 2.5em;
    margin-right: 60%;
}

.header_monkey {
    height: 110px;
    width: auto;
    margin-right: 1em;
    animation: bounce 1s infinite alternate;
    -webkit-animation: bounce 1s infinite alternate;
}

.header_monkey2 {
    height: 100px;
    width: auto;
    animation: bounce 1s infinite alternate;
    -webkit-animation: bounce 1s infinite alternate;
}

@keyframes bounce {
    from {
        transform: translateY(0px);
    }

    to {
        transform: translateY(-15px);
    }
}

@-webkit-keyframes bounce {
    from {
        transform: translateY(0px);
    }

    to {
        transform: translateY(-15px);
    }
}

.logo {
    height: 40px;
    width: 40px;
    margin-right: 1rem;
    margin-left: 1rem;
}

nav {
    display: flex;
    justify-content: flex-start;
    align-items: center;
    background-color: #e365c1;
    width: 100%;
    height: 5em;
}

.navbtn {
    background-color: transparent;
    border: transparent;
    cursor: pointer;
    color: #fff;
    font-size: 1.3em;
    padding-right: .5em;
}

.navbtn:hover {
    color: #000;
}

.one {
    margin-left: 3em;
}

main {
    display: block;
    margin: auto;
    min-height: 30em;
    width: 90%;
}

/*classes dos sections*/
#artigos {
    display: none;
}

#galeria {
    display: none;
}

.images {
    display: grid;
    height: auto;
    width: 100%;
    margin-top: 2em;
    grid-template-columns: 20px 20px 20px 20px;
    grid-column-gap: 20em;
    grid-row-gap: 2em;
}

.images_m {
    max-width: 25em;
    height: 20em;
    width: 20em;
    object-fit: cover;
    border-radius: 5px;
    filter: drop-shadow(0 0 3px #000);
}

#loja {
    display: none;
}

#sobre {
    display: none;
    flex-direction: column;
}

.sobre_pic {
    border-radius: 50%;
    height: 30em;
    width: 30em;
    margin: 1em 0;
    object-fit: cover;
    align-self: center;
    filter: drop-shadow(5px 5px 10px #000);
}

.content {
    text-align: justify;
    text-indent: 1.2em;
    font-size: 1.1em;
}

footer {
    display: flex;
    justify-content: flex-start;
    align-items: center;
    margin-top: 1em;
    background-color: #e365c1;
    width: 100%;
    height: 5em;
}

.footer_text {
    margin-left: 1rem;
}