* {
    box-sizing: border-box;
}

body {
    background-image: linear-gradient(90deg, #e2b6cf, #f6efee);
    font-family: 'Courier New', Courier, monospace;
    min-height: 100vh;
}

header {
    display: flex;
    justify-content: flex-start;
    align-items: center;
    flex-flow: row nowrap;
    width: 100%;
    height: 5%;
}

.title_header {
    font-size: 2.5em;
}

.logo {
    height: 40px;
    width: 40px;
    margin-right: 1rem;
    margin-left: 1rem;
}

nav {
    display: flex;
    justify-content: flex-start;
    align-items:center;
    background-color: #e365c1;
    width: 100%;
    height: 5em;
}

.navbtn {
    background-color: transparent;
    border: transparent;
    cursor: pointer;
    color: #fff;
    font-size: 1.3em;
    padding-right: .5em;
}
.navbtn:hover {
    color: #000;
}

.one {
    margin-left: 3em;
}

main {
    display: block;
    margin: auto;
    text-align: justify;
    height: auto;
    width: 90%;
}

/*classes dos sections*/
#artigos {
    display: none;
}

#galeria {
    display: none;
}

.images {
    display: grid;
    height: auto;
    grid-template-columns: 20px 20px 20px 20px;
    grid-column-gap: 20em;
    grid-row-gap: 2em;
}
.images_m {
    max-width: 25em;
    height: 20em;
    width: 20em;
    object-fit: cover;
    border-radius: 5px;
    filter: drop-shadow(0 0 3px #000);
}

#loja {
    display: none;
}

#sobre {
    display: none;
}

footer {
    display: flex;
    justify-content: flex-start;
    align-items:center;
    margin-top: 1em;
    background-color: #e365c1;
    width: 100%;
    height: 5em;
}
.footer_text {
    margin-left: 1rem ;
}